.book-details-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

.book-image-container {
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}

.book-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}